{% extends 'navbar.html' %}

{% block title %}Budżet Osobisty- Dodaj Wydatek{% endblock %}
{% block head %}{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="text-center">
        <form method="post" action="/addExpense/create">
            <div class="row justify-content-around">
                <div class="block" id="window">
                    <div class="container-fluid" style="width:80%">
                        <div class="form-group">
                            <h3> DODAJ WYDATEK</h3>
                        </div>
                        <div class="form-group"><br>
                            <label for="expenseAmount"><b>KWOTA</b></label>
                            <input class="form-control" type="number" min="0.00" max="100000.00" step="0.01" id="expense_amount" value="{{expenses.amount}}" name="expenseAmount" placeholder="0.00" autocomplete="off" required>
                            <span class="error" id="expenses_limit"></span>
                        </div>
                        <p>

                        <div class="form-group">
                            <label for="expense_date"><b>DATA</b></label>
                            <input class="form-control" type="date" id="expense_date" name="expenseDate" value = "{% if expenses.date is defined %}{{expenses.date}}{% else %}{{currentDate}}{% endif %}" required>
                        </div>
                        <p>
                            
                        <div class="form-group">
                            <b>SPOSÓB PŁATNOŚCI</b>
                            <select class="form-control" name="paymentMethods">
                            <option title = "Sposób płatności" value="" disabled selected hidden>Wybierz</option>   
                            {% for value in userPaymentMethods %}
                            <option value="{{value.name}}"> {{value.name}} </option>
                            {% endfor %}
                            </select>
                            <p>
                        </div>
                        <p>

                        <div class="form-group">
                            <b>KATEGORIA</b>
                            <select class="form-control" id="expense_category" name="expenseCategory" onchange="expenseLimit()" required>
                            <option title = "Kategoria" value="" disabled selected hidden>Wybierz</option>
                            {% for value in userExpenseCategories %}
                            <option value="{{value.name}}"> {{value.name}} </option>
                            {% endfor %}  
                            <option  id = "switcher" value="" hidden></option> 
                            </select>
                            <p>

                        </div>

                        <div class="form-group"><b>KOMENTARZ (OPCJONALNIE)</b><br>
                            <textarea class="form-control" id="expense_comment" name="expenseComment" style="resize:both" rows="4"></textarea>
                        </div>
                        <p>
                        <div>
                            <button class="btn btn-primary" id="addExpense">DODAJ WYDATEK</button>
                            <p>
        </form>

        <form method="post" action="/home/index">
            <button class="btn btn-danger">ANULUJ</button>
        </form>
    </div>
    <p>
</div>
</div>
</div>
</div>
</div>

<br>
{% if income.errors is not empty %}
        <div class="container-fluid text-center bg-danger text-white" style="width:30%">
            {% for error in income.errors %}
            {{ error }}<br>
            {% endfor %}
{% endif %}
</div>

<script src="/js/limit.js"></script>
{% endblock %}